DesignTimeMDS/SOA/apps/BillingManagementSystem/WSDLs/bmsInterface.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="bmsInterface"
     targetNamespace="http://soahost.co.ke/SOATutorial/BillingManagementSystem/bmsInterface"
     xmlns:tns="http://soahost.co.ke/SOATutorial/BillingManagementSystem/bmsInterface"
     xmlns:inp1="http://soahost.co.ke/SOATutorial/BillingManagementSystem/bmsSchema"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://soahost.co.ke/SOATutorial/BillingManagementSystem/bmsSchema"
                 schemaLocation="../Schemas/bmsSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="bmsRequestAsyncMessagePart" element="inp1:bmsRequestSchema"/>
    </wsdl:message>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="bmsCallbackAsyncMessagePart" element="inp1:bmsCallbackSchema"/>
    </wsdl:message>
    <wsdl:portType name="bmsRequestAsyncPortType">
        <wsdl:operation name="bmsRequestAsyncOperation">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="bmsCallbackAsyncPortType">
        <wsdl:operation name="bmsCallbackAsyncOperation">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
