HelloWorldPrj/SOA/Schemas/responseDoc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soahost.co.ke/SOATutorial/HelloWorld/response"
            targetNamespace="http://soahost.co.ke/SOATutorial/HelloWorld/response" elementFormDefault="qualified">
  <xsd:element name="exampleElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="wish" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
  </xsd:element>
  
</xsd:schema>
